# Configuration file for diviz

# Fichier de configuration pour le client seul, se connectant au serveur de l'ECP
#
application.id=diviz
ignore.server
ignore.platform

descriptions.package=org.diviz.resource.descriptions
workspace_directory=praxis_workspaces_diviz

preferences.key=diviz

rmi.useSSL=false
rmi.useHTTP=true

i18n=configuration/i18n/diviz

#javax.net.ssl.trustStore=certificates/client_keystore
#javax.net.ssl.trustStorePassword=zdiv_i

#
# Client
#

# GUI
#
client.result_viewer=org.diviz.ui.ResultViewerHTML
client.img=images
client.img.icon16=images/diviz_icon_16.png
client.img.icon32=images/diviz_icon_32.png
client.img.icon106=images/diviz_icon_106.png
client.img.splash=images/splash.jpg

client.help.url=http://www.diviz.org

client.viewers.formats=configuration/client/viewer_formats.xml
client.viewers=configuration/client/viewers.xml
client.workspace=

client.resources_hierarchy=configuration/client/resources.tree.xml

client=rmi:ddeck.lgi.ecp.fr:4012:ddeck.lgi.ecp.fr:4012
client.iotypes=configuration/types.cfg

client.file_extension=.dvz
#
# Common
# used either by the server and by the client/platform to connect to the MXBeans, even w/o RMI
server.rmi.registry.host=ddeck.lgi.ecp.fr
server.rmi.registry.port=4012

# system
system.java.util.logging.config.file=logging.properties
system.CSLC=praxis
#system.DEVELOPMENT_MODE=
system.user.language=en
system.user.region=

system.java.rmi.dgc.leaseValue=5000
#system.java.library.path=lib
system.java.security.policy=policy
