# Configuration file for diviz

common.config=configuration/run_cfg/common.cfg

# Fichier de configuration pour le client seul, se connectant au serveur de l'ECP
# 
ignore.server
ignore.platform

rmi.useSSL=false
rmi.useHTTP=false

client=rmi:server-telecom-bretagne.diviz.org:4013:server-telecom-bretagne.diviz.org:4013

#
# Common
# used either by the server and by the client/platform to connect to the MXBeans, even w/o RMI
server.rmi.registry.host=server-telecom-bretagne.diviz.org
server.rmi.registry.port=4013

#system.user.language=en
#system.user.region=

system.java.net.useSystemProxies=true
system.sun.rmi.transport.connectionTimeout=5000
system.rmi.factories=http-to-cgi
