# Configuration file for diviz
common.config=configuration/run_cfg/common.cfg

# Fichier de configuration pour le client seul, se connectant au serveur en local
# 
ignore.server
ignore.platform

rmi.useSSL=false
rmi.useHTTP=false

#
# Client
#
#client=rmi:ddeck.lgi.ecp.fr:4013:ddeck.lgi.ecp.fr:4013
client=rmi:localhost:4013:localhost:4013

#
# Common
# used either by the server and by the client/platform to connect to the MXBeans, even w/o RMI
server.rmi.registry.host=localhost
server.rmi.registry.port=4013

# system
#system.user.language=en
#system.user.region=
