# Configuration file for diviz: local server
# 
common.config=configuration/run_cfg/common.cfg

ignore.client


javax.net.ssl.keyStore=certificates/server_private_keystore
javax.net.ssl.keyStorePassword=
javax.net.ssl.trustStore=certificates/client_keystore
javax.net.ssl.trustStorePassword=
rmi.useSSL=false

#
# Common
# used either by the server and by the client/platform to connect to the MXBeans, even w/o RMI
server.rmi.registry.host=localhost
server.rmi.registry.port=4013

#
# Server
#
servers=rmi direct
server.users=configuration/server/users.xml

#
# Platforms
#
platform.connection=direct:localhost:0

platforms=python_soap
platform.python_soap=configuration/platform/platform_diviz.xml
