# Configuration file for diviz: standalone application
# 
common.config=configuration/run_cfg/common.cfg

javax.net.ssl.keyStore=certificates/server_private_keystore
javax.net.ssl.keyStorePassword=
javax.net.ssl.trustStore=certificates/client_keystore
javax.net.ssl.trustStorePassword=

#
# Client
#
client=direct:x:0:localhost:4013

#
# Common
# used either by the server and by the client/platform to connect to the MXBeans, even w/o RMI
server.rmi.registry.host=localhost
server.rmi.registry.port=4013

#
# Server
#
servers=direct
server.users=configuration/server/users.xml

#
# Platforms
#
platform.connection=direct:localhost:0

platforms=telecom-bretagne uni.lu local
platform.telecom-bretagne=configuration/platform/platform_diviz_TB.xml
platform.uni.lu=configuration/platform/platform_diviz_uni.lu.xml
platform.local=configuration/platform/platform_local.xml
