# Configuration file for diviz: standalone application
# 
common.config=configuration/run_cfg/common.cfg

#
# Client
#
client=direct:x:0:localhost:4012

#
# Common
# used either by the server and by the client/platform to connect to the MXBeans, even w/o RMI
server.rmi.registry.host=localhost
server.rmi.registry.port=4012

#
# Server
#
servers=direct
server.users=configuration/server/users.xml

#
# Platforms
#
# no platforms for now: the bridge should make the server's resources available
#platform.connection=direct:localhost:0

#platforms=ECP.fr uni.lu
#platform.ECP.fr=configuration/platform/platform_diviz_ECP_fqdn.xml
#platform.uni.lu=configuration/platform/platform_diviz_uni.lu.xml

# Bridge
bridge=test_bridge
bridge.platform.connection=direct:localhost:0:nc:nc
bridge.client.connection=rmi:ddeck.lgi.ecp.fr:4013:nc:nc
bridge.rmi.registry.host=ddeck.lgi.ecp.fr
bridge.rmi.registry.host=4013

platform.test_bridge=configuration/platform/platform_bridge.xml
rmi.useHTTP=true
